.container-all{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(120deg, rgba(131,58,180,1) 0%, rgba(235,56,56,1) 40%, rgba(252,176,69,1) 83%);
}

.form-container {
  background-color: white;
  border-radius: 8px;
  padding: 50px;
  max-width: 400px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 46px 22px rgba(7, 7, 7, 0.2);
  -moz-box-shadow: 0px 0px 46px 22px rgba(7, 7, 7, 0.2);
  box-shadow: 0px 0px 46px 22px rgba(7, 7, 7, 0.2);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-container div {
  margin-bottom: 15px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-container input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}

.form-container button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3;
}

.App {
  text-align: center;
  padding: 40px;
}


h1 {
  font-size: 24px;
  color: #333;
}